body {
	font-family: Jura, serif;
	font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	color: black;
	text-align: justify;
	padding: 2%;
	margin: 2%;
	border-style: double;
	border-color: black;
	border-radius: 20px;
	background-color: lightblue;

}

.citata {
	font-family: Caveat, serif;
	font-size: 14px;
	font-weight: 900;
	background-color: lightgray;
	text-align: right;
	padding-left: 33%;
	border-radius: 20px;
}



.icon {
	text-align: center;
}



h1 {
	font-family: Comfortaa, monospace;
	font-size: 24px;
	font-weight: 900;
	text-align: center;
	color: black;
}

h2,
h3 {
	font-family: Comfortaa, monospace;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: black;
}

#top {

	text-indent: 20px;
}



a {
	text-decoration: underline;
}

li {
	list-style: unset;
	font-family: Comfortaa, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;

}

ul {
	border-width: 10px;
	border-style: dotted;
	border-color: rgb(226, 43, 86);
}

span.variants {
	color: blue;
}

span.date,
.author {
	font-family: Caveat, serif;
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	color: red;
	text-decoration: underline;
}

.text div,
p {
	text-indent: 20px;
}

.hidden {

	font-family: Caveat, serif;
	font-weight: 900;
	font-style: italic;
}